<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woshidaniu.daointerface.IBjdmDao" >

	<!-- 查询班级列表 无分页-->
	<select id="getModelList" parameterType="BjdmModel" resultType="BjdmModel">
		select bj.bh_id,
		       bj.bh,
		       bj.bj,
		       bj.zyh_id,
		       bj.jg_id,
		       bj.njdm_id,
		       bj.xqh_id,
		       bj.jbny,
		       bj.bzrjgh_id,
		       bj.bzxh_id,
		       bj.fdyh_id,
		       bj.zxrs,
		       bj.bz
		  from niutal_xtgl_bjdmb bj
	</select>
    
</mapper>