<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woshidaniu.dao.daointerface.INjdmDao" >

    <select id="cxNjdmList" resultType="NjdmModel">
    	select njdm_id,njxh,njmc from niutal_xtgl_njdmb order by njdm_id desc
    </select>
    
</mapper>