<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

	<Properties>
		<!-- 日志输出格式 -->
		<Property name="LOG_CONSOLE_LAYOUT">[Log4j2-dev][%p][%t] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%C:%M:%L] %m%n</Property>
	</Properties>

	<Appenders>
		<!-- 控制台日志输出配置 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_CONSOLE_LAYOUT}" />
		</Console>
	</Appenders>

	<Loggers>
		
		<!-- ###############同步日志配置############### -->
		
		<!-- 
			#Log4j输出级别的种类
			#ERROR、WARN、INFO、DEBUG
			#ERROR 为严重错误 主要是程序的错误
			#WARN 为一般警告，比如session丢失
			#INFO 为一般要显示的信息，比如登录登出
			#DEBUG 为程序的调试信息
		 -->
		
		<!-- 应用的日志级别 -->
		<logger name="com.woshidaniu" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="[Mybatis]com.woshidaniu" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="noModule" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
		<logger name="access" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <!-- Spring框架日志配置 -->
		<logger name="org.springframework" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <!-- Struts2框架日志配置 -->
		<logger name="org.apache.struts2" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
		<logger name="com.opensymphony.xwork2" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
		<!-- Mybatis框架日志配置 -->
		<logger name="org.mybatis" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="org.apache.ibatis" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
		<logger name="org.apache.ibatis.jdbc.ScriptRunner" level="DEBUG" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        
        
        <!-- JDBC日志配置 -->
		<logger name="java.sql" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
		<logger name="java.sql.Connection" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="java.sql.Statement" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />
        </logger>
		<logger name="java.sql.PreparedStatement" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
		<logger name="java.sql.ResultSet" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        
        <!-- jmxtrans -->
        <logger name="org.jmxtrans" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
            <AppenderRef ref="JMXTRANS_ROLLING_FILE_LOG"/>  
        </logger>
        <logger name="com.woshidaniu.metrics" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="org.apache.rocketmq" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="com.woshidaniu.rocketmq" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="RocketmqClient" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="org.apache.ibatis.io" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="org.mybatis.spring" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="com.woshidaniu.web.servlet.filter.chain.impl.DefaultFilterChainManager" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="WARN" additivity="false">  
            <AppenderRef ref="Console" />  
        </logger>
        
		<!-- 剩余其他的日志级别 -->  
        <Root level="INFO" includeLocation="true">  
            <AppenderRef ref="Console" />  
        </Root>

	</Loggers>
</Configuration>