<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woshidaniu.wjdc.dao.daointerface.IWjdcExportDao">

	<select id="queryWjhdxsBaseInfo" parameterType="java.lang.String" resultType="com.woshidaniu.dao.entities.XsxxModel">
		select 
			a.XH
			,XM
			,BJMC
			,BMMC
			,ZYMC
			,NJMC
		from 
			view_niutal_xtgl_xsxxb a
		where a.xh in 
			(select djrid from niutal_WJDC_WJHDB b where b.wjid = #{wjid})
	</select>
	
	<select id="queryWjhdDjr" parameterType="java.lang.String" resultType="java.lang.String">
		select 
			distinct b.djrid 
		from 
			niutal_WJDC_WJHDB b 
		where b.wjid = #{wjid}
	</select>

</mapper>