<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woshidaniu.zdybd.dao.daointerface.IZdybdBaseDao">

	<!-- 通过sql语句返回数据 -->
	<select id="getListBySql" resultType="java.util.HashMap">
		${sql}
	</select>
	
	
	<!-- 通过sql语句返回数据 -->
	<select id="getDmmcListBySql" resultType="com.woshidaniu.zdybd.dao.entities.DmmcModel">
		${sql}
	</select>
	

	<!-- 通过sql语句返回数据 -->
	<select id="getMapBySql" resultType="java.util.HashMap">
		${sql}
	</select>

	<!-- 获取行政区划：【省】 数据 -->
	<select id="getShList" resultType="java.util.HashMap">
		${sql}
	</select>
	
	<!-- 获取行政区划：【区县】 数据 -->
	<select id="getQxList" resultType="java.util.HashMap">
		${sql}
	</select>

</mapper>
	
