<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.woshidaniu.workflow.dao.ISpWorkNodeDao">

	<resultMap id="spWorkNodeMap" type="com.woshidaniu.workflow.model.SpWorkNode">
		<result property="id" column="ID" />
		<result property="wid" column="W_ID" />
		<result property="pid" column="P_ID" />
		<result property="nodeId" column="NODE_ID" />
		<result property="nodeName" column="NODE_NAME" />
		<result property="nodeType" column="NODE_TYPE" />
		<result property="nodeDesc" column="NODE_DESC" />
		<result property="roleId" column="ROLE_ID" />
		<result property="userId" column="USER_ID" />
		<result property="status" column="STATUS" />
		<result property="auditorId" column="AUDITOR_ID" />
		<result property="auditTime" column="AUDIT_TIME" />
		<result property="auditResult" column="AUDIT_RESULT" />
		<result property="suggestion" column="SUGGESTION" />
		<result property="estatus" column="E_STATUS"/>
		<result property="node_bj" column="NODE_BJ" />
		<collection property="spWorkTaskList" column="{nodeId=NODE_ID, wid=W_ID}" select="com.woshidaniu.workflow.dao.ISpWorkTaskDao.findWorkTaskListByNodeIdAndBid"/>	
	</resultMap>
	
	<insert id="addSpWorkNode" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO SP_WORK_NODE
			  (ID,
			   W_ID,
			   P_ID,
			   NODE_ID,
			   NODE_NAME,
			   NODE_TYPE,
			   NODE_DESC,
			   ROLE_ID,
			   USER_ID,
			   E_STATUS,
			   STATUS,
			   NODE_BJ)
			VALUES
			  (#{id},
			   #{wid},
			   #{pid},
			   #{nodeId},
			   #{nodeName,jdbcType=VARCHAR},
			   #{nodeType,jdbcType=VARCHAR},
			   #{nodeDesc,jdbcType=VARCHAR},
			   #{roleId,jdbcType=VARCHAR},
			   #{userId,jdbcType=VARCHAR},
			   #{estatus,jdbcType=VARCHAR},
			   #{status,jdbcType=VARCHAR},
			   #{node_bj,jdbcType=VARCHAR})
		]]>
		
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			<![CDATA[
			SELECT SYS_GUID() KHLC_ID FROM DUAL
			]]>
		</selectKey>
	</insert>
	
	<!-- 执行审核操作，修改工作审核节点信息 -->
	<update id="editSpWorkNode">
		<![CDATA[
			UPDATE SP_WORK_NODE
			   SET 
	    ]]>
			  <if test="status != null and status != ''">
			   	   STATUS       = #{status},
			  </if>
			  <if test="auditorId != null and auditorId != ''">
			       AUDITOR_ID   = #{auditorId},
			  </if>
			  <if test="auditResult != null and auditResult != ''">
			       AUDIT_RESULT = #{auditResult},
			  </if>
			  <if test="suggestion != null">
			       SUGGESTION   = #{suggestion},
			  </if>
			  <if test="estatus != null and estatus != ''">
			       E_STATUS     = #{estatus},
			  </if>
		<![CDATA[
			       AUDIT_TIME   = sysdate
			 WHERE NODE_ID = #{nodeId} AND W_ID = #{wid}
		]]>
	</update>
	
	<!-- 执行审核操作，修改工作审核节点信息 -->
	<update id="editSpWorkNextNode">
		<![CDATA[
			UPDATE SP_WORK_NODE
			   SET 
	    ]]>
			  <if test="status != null and status != ''">
			   	   STATUS       = #{status},
			  </if>
			  <if test="auditorId != null and auditorId != ''">
			       AUDITOR_ID   = #{auditorId},
			  </if>
			  <if test="auditResult != null and auditResult != ''">
			       AUDIT_RESULT = #{auditResult},
			  </if>
			  <if test="suggestion != null">
			       SUGGESTION   = #{suggestion},
			  </if>
			  <if test="estatus != null and estatus != ''">
			       E_STATUS     = #{estatus},
			  </if>
		<![CDATA[
			       AUDIT_TIME   = sysdate + 1/(24*3600)
			 WHERE NODE_ID = #{nodeId} AND W_ID = #{wid}
		]]>
	</update>
	
	<!-- 根据条件更新节点执行状态 -->
	<update id="editEStatus">
		<![CDATA[
			UPDATE SP_WORK_NODE
			   SET E_STATUS = #{estatus}
			 WHERE NODE_ID IN
			       (SELECT d_node_id FROM SP_WORK_Line WHERE u_node_id = #{nodeId})
		]]>
	</update>
	
	<!-- 根据ID删除工作审核节点 -->
	<delete id="removeSpWorkNodeById">
		<![CDATA[
			DELETE FROM SP_WORK_NODE WHERE ID = #{id}
		]]>
	</delete>
	
	<!-- 根据条件删除工作审核节点 -->
	<delete id="removeSpWorkNodeByWidAndNodeId">
		<![CDATA[
			DELETE FROM SP_WORK_NODE WHERE W_ID = #{wid} AND NODE_ID = #{nodeId}
		]]>
	</delete>
	
	<!-- 根据条件删除工作审核节点 -->
	<delete id="removeSpWorkNodeByWid">
		<![CDATA[
			DELETE FROM SP_WORK_NODE WHERE W_ID = #{wid}
		]]>
	</delete>
	
	<!-- 根据工作ID和节点ID条件查询记录 -->
	<select id="findWorkNodeByWidAndNodeId" resultMap="spWorkNodeMap">
		<![CDATA[
			SELECT W_ID,
			       P_ID,
			       NODE_ID,
			       NODE_NAME,
			       NODE_TYPE,
			       NODE_DESC,
			       ROLE_ID,
			       USER_ID,
			       STATUS,
			       AUDITOR_ID,
			       AUDIT_TIME,
			       AUDIT_RESULT,
			       SUGGESTION,
			       E_STATUS,
			       NODE_BJ
			  FROM SP_WORK_NODE
			 WHERE W_ID = #{wid}
			 	AND NODE_ID = #{nodeId}
			  ORDER BY ID ASC
		 ]]>
	</select>
	
	<!-- 根据工作ID和节点ID条件查询记录 -->
	<select id="findNextWorkNodeByWidAndNodeId" resultMap="spWorkNodeMap">
		<![CDATA[
			SELECT W_ID,
			       P_ID,
			       NODE_ID,
			       NODE_NAME,
			       NODE_TYPE,
			       NODE_DESC,
			       ROLE_ID,
			       USER_ID,
			       STATUS,
			       AUDITOR_ID,
			       AUDIT_TIME,
			       AUDIT_RESULT,
			       SUGGESTION,
			       E_STATUS,
			       NODE_BJ
			  FROM SP_WORK_NODE
			 WHERE W_ID = #{wid}
			   AND NODE_ID =
			       (SELECT d_node_id
			          FROM sp_work_line
			         WHERE u_node_id = #{nodeId}
			           AND W_ID = #{wid}
			           AND ROWNUM = 1)
			   AND ROWNUM = 1
		 ]]>
	</select>
	
	<!-- 根据工作ID条件查询记录（结果一个或多个） -->
	<select id="findWorkNodeListByWid" resultMap="spWorkNodeMap">
		<![CDATA[
			SELECT W_ID,
			       P_ID,
			       NODE_ID,
			       NODE_NAME,
			       NODE_TYPE,
			       NODE_DESC,
			       ROLE_ID,
			       USER_ID,
			       STATUS,
			       AUDITOR_ID,
			       AUDIT_TIME,
			       AUDIT_RESULT,
			       SUGGESTION,
			       E_STATUS,
			       NODE_BJ
			  FROM SP_WORK_NODE
			 WHERE W_ID = #{wid}
			  ORDER BY ID ASC
		 ]]>
	</select>
	
	<!-- 根据条件查询记录（结果一个或多个） -->
	<select id="findWorkNodeListByCondition" resultMap="spWorkNodeMap">
		<![CDATA[
			SELECT W_ID,
			       P_ID,
			       NODE_ID,
			       NODE_NAME,
			       NODE_TYPE,
			       NODE_DESC,
			       ROLE_ID,
			       USER_ID,
			       STATUS,
			       AUDITOR_ID,
			       AUDIT_TIME,
			       AUDIT_RESULT,
			       SUGGESTION,
			       E_STATUS,
			       NODE_BJ
			  FROM SP_WORK_NODE
			 WHERE p_id IN (SELECT c.p_id
			                  FROM sp_business b, sp_procedure c
			                 WHERE b.p_id = c.p_id
		 ]]>
		 <if test="bcode == null or bcode == ''">
			<![CDATA[ AND b.b_type = #{btype}) ]]>
        </if>
        <if test="bcode != null and bcode != ''">
			<![CDATA[ AND b.b_type = #{btype} AND b.b_code = #{bcode}) ]]>
        </if>
		 <if test="estatus != null and estatus != ''">
			<![CDATA[ AND E_STATUS = #{estatus} ]]>
        </if>
		 <if test="status != null and status != ''">
			<![CDATA[ AND STATUS = #{status} ]]>
        </if>
        <if test="statusArray != null">  
		 	   AND STATUS IN 
	         <foreach item="item" index="index" collection="statusArray" open="(" separator="," close=")">
			        #{item}
			 </foreach> 
		 </if> 
        <if test="roleIdArray != null">  
		 	   AND ROLE_ID IN 
	         <foreach item="item" index="index" collection="roleIdArray" open="(" separator="," close=")">
			        #{item}
			 </foreach> 
		 </if> 
		 <if test="userIdArray != null">  
		 	   AND USER_ID IN 
	         <foreach item="item" index="index" collection="userIdArray" open="(" separator="," close=")">
			        #{item}
			 </foreach> 
		 </if>  
		 <if test="auditorId != null and auditorId != ''">
			<![CDATA[ AND AUDITOR_ID = #{auditorId} ]]>
        </if>
        <![CDATA[ ORDER BY ID ASC ]]>     
	</select>

	<!-- 根据对象中的条件查询记录（结果一个或多个） -->
	<select id="findWorkNodeList" parameterType="com.woshidaniu.workflow.model.SpWorkNode" resultMap="spWorkNodeMap">
		<![CDATA[
			SELECT ID,
			       W_ID,
			       P_ID,
			       NODE_ID,
			       NODE_NAME,
			       NODE_TYPE,
			       NODE_DESC,
			       ROLE_ID,
			       USER_ID,
			       STATUS,
			       AUDITOR_ID,
			       AUDIT_TIME,
			       AUDIT_RESULT,
			       SUGGESTION,
			       E_STATUS,
			       NODE_BJ
			  FROM SP_WORK_NODE
			 WHERE 1 = 1
		 ]]>
		<if test="id != null and id != ''">
			<![CDATA[ AND ID = #{id} ]]>
        </if>
        <if test="wid != null and wid != ''">
			<![CDATA[ AND W_ID = #{wid} ]]>
        </if>
        <if test="pid != null and pid != ''">
			<![CDATA[ AND P_ID = #{pid} ]]>
        </if>
        <if test="roleIdArray != null">  
		 	   AND ROLE_ID IN 
	         <foreach item="item" index="index" collection="roleIdArray" open="(" separator="," close=")">
			        #{item}
			 </foreach> 
		 </if> 
		 <if test="userIdArray != null">  
		 	   AND USER_ID IN 
	         <foreach item="item" index="index" collection="userIdArray" open="(" separator="," close=")">
			        #{item}
			 </foreach> 
		 </if> 
        <if test="nodeType != null and nodeType != ''">
			<![CDATA[ AND NODE_TYPE = #{nodeType} ]]>
        </if>
		<if test="estatus != null and estatus != ''">
			<![CDATA[ AND E_STATUS = #{estatus} ]]>
        </if>
        <if test="roleId != null and roleId != ''">
			<![CDATA[ AND ROLE_ID = #{roleId} ]]>
        </if>
        <if test="status != null and status != ''">
			<![CDATA[ AND STATUS = #{status} ]]>
        </if>
        <![CDATA[ ORDER BY ID ASC ]]>
	</select>
	
	<!-- 获取起始节点 -->
	<select id="findFirstWorkNode" resultMap="spWorkNodeMap">
		SELECT ID,
		       W_ID,
		       P_ID,
		       NODE_ID,
		       NODE_NAME,
		       NODE_TYPE,
		       NODE_DESC,
		       ROLE_ID,
		       USER_ID,
		       STATUS,
		       AUDITOR_ID,
		       AUDIT_TIME,
		       AUDIT_RESULT,
		       SUGGESTION,
		       E_STATUS,
		       NODE_BJ
		  FROM SP_WORK_NODE
		 where node_type='START_NODE' and w_id = #{wid}
	</select>
	
	<!-- 获取下一节点 -->
	<select id="findNextWorkNode" resultMap="spWorkNodeMap">
		SELECT ID,
		       W_ID,
		       P_ID,
		       NODE_ID,
		       NODE_NAME,
		       NODE_TYPE,
		       NODE_DESC,
		       ROLE_ID,
		       USER_ID,
		       STATUS,
		       AUDITOR_ID,
		       AUDIT_TIME,
		       AUDIT_RESULT,
		       SUGGESTION,
		       E_STATUS,
		       NODE_BJ
		  FROM SP_WORK_NODE t
		 where t.node_id = (select wl.d_node_id
                      from sp_work_line wl
                     where wl.u_node_id = #{nodeId}
                       and wl.w_id = #{wid})
  		  and t.w_id = #{wid}
	</select>
	
	<!-- 查询撤销节点的位置-->
	<select id="findNodeLocation" resultType="Integer">
		SELECT COUNT(*) FROM SP_WORK_NODE where w_id = #{wid} and status != 'WAIT_AUDITING'
	</select>
</mapper>