<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woshidaniu.tjcx.dao.daointerface.IBbldyDao">

	<!-- 根据项目代码查所有报表列 -->
	<select id="getModelList" parameterType="com.woshidaniu.tjcx.dao.entites.BbldyModel"
		resultType="com.woshidaniu.tjcx.dao.entites.BbldyModel">
		select zdmc,xmdm,zdsm,qzlx,qzfw,xssx from ZFXG_TJCX_BBLDYB where 1=1
		<if test="xmdm != null">
			and xmdm = #{xmdm}
	    </if>
	    order by xssx
	</select>
		
	<!-- 获取已选择的项 -->
	<select id="getListByTj" parameterType="java.util.HashMap"
		resultType="com.woshidaniu.tjcx.dao.entites.BbldyModel">
		select zdmc,xmdm,zdsm,qzlx,qzfw,xssx from ZFXG_TJCX_BBLDYB
		where  xmdm = #{xmdm} and zdmc in(${bbls})
	</select>
	
</mapper>
	
