<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woshidaniu.tjcx.dao.daointerface.IYsjDao">

	<!-- 根据快照中的项目代码，获取源数据 -->
	<select id="getModel" parameterType="com.woshidaniu.tjcx.dao.entites.KzszModel"
		resultType="com.woshidaniu.tjcx.dao.entites.YsjModel">
		select * from ZFXG_TJCX_YSJB where 1=1
		<if test="xmdm != null">
			and ysjdm = (select ysjdm from ZFXG_TJCX_TJXMB where
			xmdm=#{xmdm} )
	    </if>
	</select>
</mapper>
	
