.item {
	float: left;
	padding: 0 5px;
	cursor: pointer;
}

.item .glyphicon-remove {
	display: none;
}

.item.checked .glyphicon-remove {
	display: inline-block;
}

.item.checked {
	margin: 0 5px 5px 0;
}

.item.checked, .item.checked .lable {
	background-color: #428bca !important;
	color: #fff !important;
}

.item.checked i {
	color: #fff;
	margin-top: 10px;
}

.item>.lable {
	line-height: 35px;
	padding: 0 10px;
	border: 1px solid transparent;
	float: left;
}

.isChecked {
	float: left;
}

.item>.lable.active {
	color: #428bca;
}

.item>.lable.active i {
	color: #428bca;
}

.item .content {
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 8;
	padding: 5px;
	min-width: 200px;
	display: none;
	left: 0;
	top: 40px;
	width: 100%;
}

.item .content i {
	display: none;
}

.item .block {
	float: left;
	color: #428bca;
	padding: 5px 10px;
	margin: 3px;
}

.item .block.active {
	background-color: #428bca;
	color: #fff;
}

.item i {
	font-size: 12px;
	color: #666;
}

span.red {
	margin-right: 5px;
}

.font {
	line-height: 30px;
	border-top: 1px solid #ddd;
	margin: 20px 0 15px 0;
}

.lable .block.active {
	padding: 0 10px;
}

.lable .block.active i {
	color: #fff;
}

.condition {
	position: relative;
}

.tab-cnt .item {
				display:inline-block;
				border:1px solid #ddd;
				margin:2px;
				padding:2px 5px;
			    background: #f0f0f0;
    			font-weight: 600;
    			font-size: 12px;
    			cursor:pointer;
			}

.tab-cnt .item.active{background:#4a89dc;color:#fff;}

.loadBanner{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
	display:none;
}
.loadBanner_show{
	display:block;
}